.phrase {
  font-size: 2em;
  border: 0;
  color: #5e5e5e;
}

.caret {
  height: 1em;
  width: 2px;
  background-color: #9fff38;
  animation: blink-animation 1s infinite;
  display: inline-block;
}

.caretInit {
  display: inline-block;
}

.caretInit .caret{
  height: 2em;
}

letter {
  color: #5e5e5e;
  font-size: 2em;
}

.wrongLetter {
  color: #ca4754;
}

.overLetter {
  color: #70131c;
}

.correctLetter {
  color: #d1d0c5;
  height: 2em;
}

.wrapper {
  width: 60%;
}

@keyframes blink-animation {
  0%, 50% {
    visibility: visible;
  }
  51%, 100% {
    visibility: hidden;
  }
}
